<p id="notice"><%= notice %></p>
<%= link_to 'New Artist', new_artist_path %>


<h1>My Artists</h1>


<div class="row">
    <% @artists.each do |artist| %>
      <div class="col-md-6">
        <div class="well">
        <% if artist.avatar_file_name != nil %>
          <div class="artist-thumb">
            <%= image_tag artist.avatar.url(:thumb), class: "img-responsive" %>
          </div>
        <% end %>

        <h2><%= link_to artist.name, artist %></h2>
        <h3><%= artist.name %></h3>
               
        <p>
          <%= link_to edit_artist_path(artist) do %>
          <i class="fa fa-pencil-square" aria-hidden="true"></i> Edit
          <% end %>
        
          <%= link_to artist, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-ban" aria-hidden="true"></i> Destroy  
          <% end %>
        </p>
      </div>
      </div>
    <% end %>
</div>

